.bottom {
  background-color: $color-background;
  line-height: 1.71;
  width: 100%;
  text-align: center;
}
.address {
  color: $color-tertiary;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  }
.contact--bottom {
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 9px 0px 9px 0px;
}
.bottom-list__headline {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-tertiary;
  font-size: 14px;
  padding-bottom: 20px;
}
.bottom-form__input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $color-background;
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: $color-tertiary;

    &:focus-within {
      border: 1px solid $color-primary;
      outline: none;
    }
}
.bottom-form__icon {
  width: 24px;
  height: 24px;
  fill: $color-tertiary;
  margin-left: 24px;
}
.bottom-list__item:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .bottom {
    text-align: center;
  }
  .bottom-form__input {
    width: 450px;
  }
  .bottom-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact--bottom {
    justify-content: center;
  }
  .bottom-list__item:nth-child(1) {
    margin-right: 144px;
  }
  .bottom-form {
    padding: 0 100px;
  }
  }
@media screen and (min-width: 1200px) {
  .bottom-list {
    display: flex;
  }
  .bottom-form {
    display: flex;
  }
  .bottom-list__item:not(:last-child) {
    margin-right: 70px;
    margin-bottom: 0px;
  }
  .bottom-form__input {
    width: 358px;
  }
  .bottom-form__input {
    margin-right: 12px;
    margin-bottom: 0px;
 }
 .contact--bottom {
  justify-content: start;
}
}
 