header {
  width: 100%;
  height: 60px;
  text-decoration: none;
  font-family: $main-font;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  }
.header__desktop {
  display: none;
}
.navi__list {
    display: flex;
  }
.navi__link {
    text-decoration: none;
    color: $color-accent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.navi__link--active {
    color: $color-primary;

      &::after {
        content: "";
        display: flex;
        position: relative;
        top: 30px;
        border-top: 4px solid $color-primary;
        border-radius: 2px;
      }
  }
.navi__item:not(:last-child) {
    margin-right: 46px;
  }

.contact__link {
    text-decoration: none;
    color: $color-secondary;
    fill: $color-secondary;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.contact__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
.navi__link:hover,
.navi__link:focus,
.contact__link:hover,
.contact__link:focus,
.contact__icon:hover,
.contact__icon:focus {
    color: $color-primary;
    fill: $color-primary;
  }
.header__mobile {
  margin-right: 23px;
  margin-left: auto;
}
.menu__button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu__icon {
  width: 40px;
  height: 40px;
}
.menu__button:focus,
.menu__button:hover {
  fill: $color-primary;
}
@media screen and (min-width: 768px) and (max-width: 1200px)  {
.header__desktop {
    display: flex;
  }
.header__mobile {
    display: none;
  }
.contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
header {
    height: 80px;
  }
.contact {
    display: block;
    margin-left: 100px;

    // sprawdzić czy nadal działa?//
  }
.navi {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
.navi__link--active {

      &::after {
        top: 30px;
      }
  }
}

@media screen and (min-width: 1200px) {
  .header__desktop {
  display: flex;
  }
  .header__mobile {
  display: none;
  }
  header {
    height: 80px;
  }
  .contact {
    display: flex;
    margin-left: 330px;
  }
  .contact__link {
    display: flex;
    align-items: center; 
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}