.logo {
    font-family: $secondary-font;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $color-accent;
    padding-left: 15px;

    &--color {
      color: $color-primary;

    }
    &--white {
      color: $color-tertiary;
      padding-left: 0px;
      ;
    }
  }
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 83px;

    &--color {

    }
    &--white {
      margin: 0px;
      padding-left: 0px;
    }
  }
  }
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
     
    &--color {

    }

  }
  }
