.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $color-tertiary;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__button--close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: $color-tertiary;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu__button--close-icon {
  width: 40px;
  height: 40px;
}

.menu__button--close-icon:focus,
.menu__button--close-icon:hover,
.menu-navigation__item:focus,
.menu-navigation__item:hover {
  fill: $color-primary;
}

.menu-navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.menu-navigation__link,
.menu-social__link {
  text-decoration: none;
  color: $color-accent;
}
.menu-navigation__item:not(:last-child) {
  margin-bottom: 36px;
}
.menu-contact {
    align-items: flex-end; 
    margin-top: auto; 
}
.menu-contact:not(:last-child) {
    margin-bottom: 32px; 
}
.menu-contact__phone {
  text-decoration: none;
  color: $color-primary;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.menu-contact__mail {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.menu-social {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}
.menu-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.menu-social__link {
  color: $color-primary;
}
