.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $color-tertiary;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__button--close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: $color-tertiary;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu__button--close-icon {
  width: 40px;
  height: 40px;
}
.menu-navigation__link,
.menu-social__link {
  text-decoration: none;
  color: $color-accent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 36px;
}
.menu-navigation__link--active {
  color: $color-primary;
}
.menu__button--close-icon:focus,
.menu__button--close-icon:hover,
.menu-navigation__link:focus,
.menu-navigation__link:hover {
  color: $color-primary;
  fill: $color-primary;
}
.menu-contact {
  margin-top: auto;
}
.menu-contact__phone {
  text-decoration: none;
  color: $color-primary;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.menu-contact__mail {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
}
.menu-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.menu-social__item:not(:last-child)::after {
  content: "";
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 9px;
}
.menu-social__link {
  color: $color-primary;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
